<h1>Danh sách người dùng</h1>
<form action="">
  <select name="status">
    <option value="all">Tất cả</option>
    <option value="active">Kích hoạt</option>
    <option value="inactive">Chưa kích hoạt</option>
  </select>
  <input type="search" name="keyword" placeholder="Từ khóa tìm kiếm..." />
  <button>Tìm kiếm</button>
</form>
<hr />
<table border="1" cellspacing="0" width="100%">
  <tr>
    <th width="5%">STT</th>
    <th>Tên</th>
    <th>Email</th>
    <th>Trạng thái</th>
    <th>Thời gian</th>
    <th width="5%">Sửa</th>
    <th width="5%">Xóa</th>
  </tr>
  <% users.forEach(({id, name, email, status, created_at: createdAt}, index) =>
  { %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= name %></td>
    <td><%= email %></td>
    <td><%= status ? 'Kích hoạt': 'Chưa kích hoạt' %></td>
    <td><%= moment(createdAt).format('DD/MM/YYYY HH:mm:ss') %></td>
    <td>
      <a href="#">Sửa</a>
    </td>
    <td>
      <a href="#">Xóa</a>
    </td>
  </tr>
  <% }) %>
</table>
